--index-url https://download.pytorch.org/whl/cu118
torch 
torchvision
opencv-python
python-dotenv
accelerate==0.20.0
transformers==4.30.0
invisible-watermark
PyWavelets==1.2.0
safetensors==0.3.3
gradio==3.21.0
diffusers==0.20.0
